body {
    font-family: Arial, sans-serif;
    background-color: #cdd5d6;
    margin: 0;
    padding: 20px;
}

h3, h3 {
    text-align: center;
    color: #333;
}

.form-container, .search-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fffdff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(189, 16, 16, 0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 0.5px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #0119f1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    background-color: #35c9ee;
}

.data-display {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-display table {
    width: 100%;
    border-collapse: collapse;
}

.data-display th, .data-display td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-display th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.data-display tr:hover {
    background-color: #f5f5f5;
}

.search-container {
    margin-top: 30px;
}

.search-container input {
    width: calc(100% - 140px);
    display: inline-block;
    margin-right: 10px;
}